.row {
  margin: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

p {
  margin: 0;
}

div.caja {
  margin-top: 50px;
  padding: 20px;
  background-color: #ffc400;
  border: 2px solid black;
}

#tablero {
  width: 500px;
  display: none;
  margin: auto;
}

section div.tarjeta {
  width: 150px;
  height: 150px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.headline h2 {
  font-size: 24px;
}

div.jugador1, div.jugador2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

#queJugador {
  display: none;
}

#myBtn {
  width: 100px;
}

#myBtn2 {
  width: 180px;
  display: none;
}

/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal  */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.modal-content div div {
  padding: 20px;
  display: inline;
}

.modal-content img {
  width: 30px;
}

.modal-content input#player2 {
  margin-bottom: 20px;
}

/* boton cierre */
.close {
  color: #aaa;
  text-align: right;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myCanvas {
  border: 1px solid black;
  display: none;
}

@media only screen and (max-width: 400px) {
  #myCanvas {
    width: 90%;
  }
}

#cuerpoJuego, #variablesJuego {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cuerpoJuego ul, #variablesJuego ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}

#solitario {
  width: 800px;
  height: 400px;
  background-color: green;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.columna {
  width: 58px;
  height: 368px;
  display: inline-block;
  vertical-align: middle;
}

.subcolumna {
  width: 58px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  border: solid 1px #aaa;
  border-radius: 9px;
}

.subcolumna .card {
  position: absolute;
}

.card {
  border: solid 1px #aaa;
  border-radius: 9px;
  width: 58px;
  height: 80px;
  background-color: white;
  cursor: -webkit-grab !important;
  cursor: grab !important;
}

.card .subcolumna {
  position: absolute;
}

.card .value {
  font-size: 15pt;
  font-family: sans-serif;
}

.card.diamonds {
  color: red;
  background-image: url(../media/solitario/diamonds.png);
}

.card.hearts {
  color: red;
  background-image: url(../media/solitario/hearts.png);
}

.card.clubs {
  color: black;
  background-image: url(../media/solitario/clubs.png);
}

.card.spades {
  color: black;
  background-image: url(../media/solitario/spades.png);
}

.dorso p {
  visibility: hidden;
}

.hide {
  display: none;
}

#mazo1 {
  background-color: black;
}

#mazo1 .card {
  display: none;
}
/*# sourceMappingURL=estilos.css.map */