.row{
    margin: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
}

.hidden{
    display: none;
}

p{
    margin: 0;
}

div.caja{
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(255, 196, 0);
    border: 2px solid black;
}

#tablero{
    width: 500px;
    display: none;
    margin:auto;
}

section div.tarjeta{
    width: 150px; 
    height: 150px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid grey;
}

.headline{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 5px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    & h2 {
        font-size: 24px;
    }
}

div.jugador1, div.jugador2{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#queJugador {
    display: none;
}

#myBtn{
    width: 100px;
}


#myCanvas{
    border: 1px solid black;
    display: none;
    height: 70vh;
}

@media only screen and (max-width: 400px){
    #myCanvas{
        width: 90%;
    }
}

#cuerpoJuego{
    & ul{
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
}

#solitario{
    width: 800px;
    height: 400px;
    background-color: green;
    -webkit-user-select:none;
    user-select:none;
}

.columna{
    width: 58px;
    height: 368px;
    display: inline-block;
    vertical-align: middle;
    & .carta{
        display: flex;
        flex-direction: column;
        min-height: 80px;
    }
}

.subcolumna{
    width: 58px;
    height: 80px;
    background-color:rgba(0,0,0,0.5);
    display: inline-block;
    border: solid 1px #aaa;
    border-radius: 9px;
    & .carta{
        position: absolute;
    }
}

.carta{
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 58px;
    height: 80px;
    background-color: white;
    cursor: grab !important;
    
    & .subcolumna{
        position:absolute;
    }

    & .value{
        font-size:15pt;
        font-family: sans-serif;
    }

    &.diamonds{
        color: red;
        background-image: url(../media/solitario/diamonds.png);
    }

    &.hearts{
        color: red;
        background-image: url(../media/solitario/hearts.png);
    }

    &.clubs{
        color: black;
        background-image: url(../media/solitario/clubs.png);
    }

    &.spades{
        color: black;
        background-image: url(../media/solitario/spades.png);
    }
}

.dorso p{
    visibility: hidden;
}


#mazo1{
    background-color:black;

    & .carta{
        display: none;
    }
}


#ranTictactoe ul {
    display: flex;
    gap: 20px;
}